*{
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 18pt;
}

#fit-logo {
    background-image: url("../img/Logo.jpg");
    background-repeat: no-repeat;
    display:block;
    width: 22%;
    height: 40px;
}

.lg {
  width: 20%;
}

ul {
  list-style-type: none;
  vertical-align: middle;
}

a {
  color: black;
  text-decoration: none;
  line-height: 30px;
}

.header {
    /*float: left;
  width: 100%;
  clear: both;
  margin-bottom: 5%;
  margin-top: 5%;*/
}

.header li {
  float: left;
  width: 25%;
  text-align: center;
  background-color: rgb(80,80,80);
  margin-bottom: 5%;
  margin-top: 5%;
}

.header a:hover {
  background-color: rgb(49, 49, 49);
}

.header a {
  color: white;
  font-size: 13px;
  display: block;
}

.pict {
  width: 80%;
}

.left-menu {
    width: 30%;
    float: left;
}

.left-menu li {
  padding-left: 5%;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;

}

.left-menu a {
  display: block;
}

.left-menu a:hover {
  padding-left: 5%;
}

.content {
  width: 70%;
  float: right;
}

.clearfix:after{
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.pic {
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  border: 1px solid grey;
}

.pict {
  display: block;
  margin: 0 auto;
}

.LoremIpsum {
  padding: 5%;
  float: right;
}

.footer ul {
  float: left;
  width: 75%;
  clear: both;
  position: relative;
  overflow: hidden;
  margin-bottom: 5%;
  background-color: rgb(225, 225, 225);
}

.footer li {
  float: left;
  width: 23%;
  padding-left: 2%;
}

.footer a:hover {
  color: grey;
  text-decoration: underline;
}

.FooterR {
  float: right;
  line-height: 30px;
  width: 25%;
  background-color: rgb(225, 225, 225);
}
