*{
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1366px;
  height: 950px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18pt;
}

#fit-logo {
    background-image: url("../img/Logo.jpg");
    background-repeat: no-repeat;
    display:block;
    width: 200px;
    height: 50px;
}

ul {
  list-style-type: none;
  vertical-align: middle;
}

a {
  color: black;
  text-decoration: none;
  line-height: 30px;
}

.header {
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: rgb(80,80,80);
}

.header ul{
  letter-spacing : -.36em;
        font-size : 0;
}

.header li {
  display: inline-block;
  letter-spacing: normal;
  font-size : 14px;
  width: 200px;
  text-align: center;
}

.header a:hover {
  background-color: rgb(49, 49, 49);
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.header a {
  color: white;
  font-size: 13px;
  display: block;
}

.pict {
  width: 677px;
}

.left-menu {
    width: 360px;
    float: left;
    margin-right: 40px;
}

.left-menu li {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 0px;
}

.left-menu li:last-child {
  border-bottom: 1px solid grey;
}

.left-menu a {
  display: block;
}

.left-menu a:hover {
  padding-left: 10px;
}

.content {
  width: 965px;
  display: inline-block;
}

.clearfix:after{
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

.pic {
  padding: 20px;
  border: 1px solid grey;
}

.pict {
  display: block;
  margin: 0 auto;
}

.LoremIpsum {
  padding: 48px;
}

.footer {
  background-color: rgb(225, 225, 225);
}

.footer ul {
  width: 600px;
}

.footer li {
  display: inline-block;
  width: 120px;
  text-align: center;
}

.footer a:hover {
  color: grey;
  text-decoration: underline;
}

.FooterR {
  display: block;
  text-align: right;
  margin-left: auto;
  width: 180px;
  background-color: rgb(225, 225, 225);
}
