body {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 18pt;
}
.logo {
    height: 120px;
    margin-bottom: 40px;
}

.left-menu {
    width: 23%;
    float: left;
}

ul {
  list-style-type: none;
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;
  line-height: 30px;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

.content {
  width: 76%;
  height: 580px;
  float: left;
  margin-bottom: 75px;
}

.pic {
  text-align: center;
  margin-top: 50px;
}

.LoremIpsum {
  margin-top: 80px;
  margin-left: 2%;
  margin-right: 2%;
}

.FooterLink1, .FooterLink2, .FooterLink3, .FooterLink4 {
  float: left;
  width: 14%;
}

.FooterR {
  float: right;
  line-height: 30px;
}
