*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 700px;
  margin: auto;
  background-color: lightgray;
  border: solid 1px black;
  padding: 40px;
}

.header{
  width: 700px;
  //margin-bottom: 40px;
  display: block;
}

.innerwrap{
  padding: 40px;
  background-color: white;
}

p{
  font-family: sans-serif;
}

.group1{
  width: 45%;
  margin: auto;
}

.group2{
  width: 28%;
}
