*{
  margin: 0;
  padding: 0;
}

body {

    }
.wrapper {
  position: relative;
  width:1215px;
  height: 1029px;
  margin: 0 auto;
  background-image: url("../img/Background.jpg");
}

.header {
  background-color: #08598C;
}

.menu2 {
  float: right;
}

.menu1 {
  float: right;
}

.menu2 > li {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: yellow;
  /border: 1px solid yellow;
}

.menu1 > li {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: yellow;
  /border: 1px solid yellow;
}

.menu2 > li > a {
  font-family: Tahoma;
  color: #60b5ed;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-decoration: none;
}

.menu1 > li > a {
  font-family: Tahoma;
  color: #60b5ed;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-decoration: none;
}


.image {
  /width: 100%;
  margin-bottom: -5px;
}

.photo {
  overflow: hidden;
  border: 1px solid #128aa7;
}

.photo > img {
  width: 100%;
  display: block;
}

.menu {
  width: 100%;
  position: relative;
}

.center_panel {
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color: black;
  margin-bottom: 5px;
  box-shadow: 0px 2px 12px #030303;
}

ul {
  display: block;
  list-style: none;
}

ul:after {
  display: block;
  content: ' ';
  clear: both;
}

ul.menu > li {
  display: inline-block;
  text-align: center;
  width: 13.5%;
}

ul.menu > li > a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

ul.submenu {
  display: none;
  position: absolute;
  background-color: black;
  padding: 10px;
  padding-right: 50px;
  box-shadow: -1px 5px 12px #636363;
}

ul.submenu > li {
  display: block;
}

ul.submenu > li > a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-family: Tahoma;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

ul.menu > li:hover > ul.submenu {
    display: block;
    z-index: 500;
}

ul.submenu > li > a:hover {
    display: block;
    text-decoration: underline;
}

.content {
  display: block;
  overflow: hidden;
}

.content1 {
	width: 100%;
	background: #E5E5E5;
	float: left;
	position: relative;
	right: 58%;
}

.content2 {
  	width: 100%;
  	float: left;
  	position: relative;
  	right: 22%;
}

.content3 {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.left_block {
  width: 18%;
  float: left;
  position: relative;
  overflow: hidden;
  left: 80%;
  padding: 10px;
  background-color: #E5E5E5;
}

.centerColumn {
  width: 55%;
	float: left;
	overflow: hidden;
	position:relative;
	left:81%;
}

.right_block {
  float: left;
  width: 19%;
  position: relative;
  left: 84%;
  overflow: hidden;
  padding: 10px;
  background-color: #E5E5E5;
}

.left_block, .right_block > p {
  font-family: Tahoma;
  color: #424c43;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.info, .news {
  font-family: Tahoma;
  color: #424c43;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.copyright {
  display: block;
  text-align: center;
  font-family: Tahoma;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  padding: 10px;
}

.clearfix::after{
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
