*{
  margin: 0;
  padding: 0;
}

body {
  width:1215px;
  height: 1029px;
    }

.wrapper {
  /position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-image: url("../img/Background.jpg");
}

.header {
  background-color: #08598C;
}

.menu2 {
  float: right;
}

.menu1 {
  float: right;
}

.menu2 > li {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: yellow;
  /border: 1px solid yellow;
}

.menu1 > li {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: yellow;
  /border: 1px solid yellow;
}

.menu2 > li > a {
  font-family: Tahoma;
  color: #60b5ed;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-decoration: none;
}

.menu1 > li > a {
  font-family: Tahoma;
  color: #60b5ed;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  text-decoration: none;
}

.content{
  width: 100%;
}

.regtable{
  /position: absolute;
  background-color: yellow;
  display: table;
  margin: 0 auto;
  width:560px;
  height: 613px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.regform{
  display: table-cell;
  vertical-align: middle;
}

.clearfix::after{
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
