*{
  margin: 0;
  padding: 0;
}

.wrapper{
position: relative;
border: 1px solid black;
width: 100%;
background: #80cdc6;
}

.clouds{
  width: 50%;
  position: relative;
  left: 40%;
}

.world{
width: 100%;
}

.ship{
  position: absolute;
  width: 25%;
  left: 4%;
  top: 60%;
}

.water{
  position: absolute;
  width: 100%;
  top: 90%;
  right: 0%;
}
